# Pandas

- Pandas is a module to manipulate data.
- Pandas can be thought of how we use an excel file and provides all the data manipulation capabilites just like the excel.
- Pandas is heavily used for data manipulations in the field of machine learning.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load data
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
7    4.4  2.9  1.4  0.2     Iris-setosa
8    4.9  3.1  1.5  0.1     Iris-setosa
9    5.4  3.7  1.5  0.2     Iris-setosa
10   4.8  3.4  1.6  0.2     Iris-setosa
11   4.8  3.0  1.4  0.1     Iris-setosa
12   4.3  3.0  1.1  0.1     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
14   5.7  4.4  1.5  0.4     Iris-setosa
15   5.4  3.9  1.3  0.4     Iris-setosa
16   5.1  3.5  1.4  0.3     Iris-setosa
17   5.7  3.8  1.7  0.3     Iris-setosa
18   5.1  3.8  1.5  0.3     Iris-setosa
19   5.4  3.4  1.7  0.2     Iris-setosa
20   5.1  3.7  1.5  0.4     Iris-setosa
21   4.6  3.6  1.0  0.2     Iris-setosa
22   5.1  3.3  1.7  0.5     Iris-setosa
23   4.8  3.4  1.9  0.2     Iris-setosa
24   5.0  3.0  1.6  0.2     Iris-setosa
25   5.0  3.4  1.6  0.4     Iris-setosa
26   5.2  3.5  1.5  0.2     Iris-setosa
27   5.2  3.4  1.4  0.2     Iris-setosa
28   4.7  3.2  1.6  0.2     Iris-setosa
29   4.8  3.1  1.6  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
119  6.9  3.2  5.7  2.3  Iris-virginica
120  5.6  2.8  4.9  2.0  Iris-virginica
121  7.7  2.8  6.7  2.0  Iris-virginica
122  6.3  2.7  4.9  1.8  Iris-virginica
123  6.7  3.3  5.7  2.1  Iris-virginica
124  7.2  3.2  6.0  1.8  Iris-virginica
125  6.2  2.8  4.8  1.8  Iris-virginica
126  6.1  3.0  4.9  1.8  Iris-virginica
127  6.4  2.8  5.6  2.1  Iris-virginica
128  7.2  3.0  5.8  1.6  Iris-virginica
129  7.4  2.8  6.1  1.9  Iris-virginica
130  7.9  3.8  6.4  2.0  Iris-virginica
131  6.4  2.8  5.6  2.2  Iris-virginica
132  6.3  2.8  5.1  1.5  Iris-virginica
133  6.1  2.6  5.6  1.4  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
135  6.3  3.4  5.6  2.4  Iris-virginica
136  6.4  3.1  5.5  1.8  Iris-virginica
137  6.0  3.0  4.8  1.8  Iris-virginica
138  6.9  3.1  5.4  2.1  Iris-virginica
139  6.7  3.1  5.6  2.4  Iris-virginica
140  6.9  3.1  5.1  2.3  Iris-virginica
141  5.8  2.7  5.1  1.9  Iris-virginica
142  6.8  3.2  5.9  2.3  Iris-virginica
143  6.7  3.3  5.7  2.5  Iris-virginica
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [3]:
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

In [4]:
# Make a copy of iris, so that if one makes any changes to iris, it doesn't require to be loaded again and again
df = iris.copy()

In [5]:
# Accessing part of data without loading the complete data
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [6]:
df.head(10)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa
9  5.4  3.7  1.5  0.2  Iris-setosa

#### Notice that the very first row is being used as column headers which should be corrected.

In [7]:
# View the current column headers
df.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [8]:
# Change the column headers to appropriate values
df.columns = ['sl', 'sw', 'pl', 'pw', 'flower_type']

In [9]:
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [10]:
# Shape/Size of dataframe
df.shape

(149, 5)

In [11]:
# Data types
df.dtypes

sl             float64
sw             float64
pl             float64
pw             float64
flower_type     object
dtype: object

In [12]:
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [13]:
# Accessing a particular column using df.column_name
df.sl

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
5      4.6
6      5.0
7      4.4
8      4.9
9      5.4
10     4.8
11     4.8
12     4.3
13     5.8
14     5.7
15     5.4
16     5.1
17     5.7
18     5.1
19     5.4
20     5.1
21     4.6
22     5.1
23     4.8
24     5.0
25     5.0
26     5.2
27     5.2
28     4.7
29     4.8
      ...
119    6.9
120    5.6
121    7.7
122    6.3
123    6.7
124    7.2
125    6.2
126    6.1
127    6.4
128    7.2
129    7.4
130    7.9
131    6.4
132    6.3
133    6.1
134    7.7
135    6.3
136    6.4
137    6.0
138    6.9
139    6.7
140    6.9
141    5.8
142    6.8
143    6.7
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [14]:
# Accessing a particular column using df['column_name']
df['sl']

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
5      4.6
6      5.0
7      4.4
8      4.9
9      5.4
10     4.8
11     4.8
12     4.3
13     5.8
14     5.7
15     5.4
16     5.1
17     5.7
18     5.1
19     5.4
20     5.1
21     4.6
22     5.1
23     4.8
24     5.0
25     5.0
26     5.2
27     5.2
28     4.7
29     4.8
      ...
119    6.9
120    5.6
121    7.7
122    6.3
123    6.7
124    7.2
125    6.2
126    6.1
127    6.4
128    7.2
129    7.4
130    7.9
131    6.4
132    6.3
133    6.1
134    7.7
135    6.3
136    6.4
137    6.0
138    6.9
139    6.7
140    6.9
141    5.8
142    6.8
143    6.7
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [15]:
# Look at the null entries
# Every entry is this case will be marked False as there is no null entry in our dataframe
df.isnull()

        sl     sw     pl     pw  flower_type
0    False  False  False  False        False
1    False  False  False  False        False
2    False  False  False  False        False
3    False  False  False  False        False
4    False  False  False  False        False
5    False  False  False  False        False
6    False  False  False  False        False
7    False  False  False  False        False
8    False  False  False  False        False
9    False  False  False  False        False
10   False  False  False  False        False
11   False  False  False  False        False
12   False  False  False  False        False
13   False  False  False  False        False
14   False  False  False  False        False
15   False  False  False  False        False
16   False  False  False  False        False
17   False  False  False  False        False
18   False  False  False  False        False
19   False  False  False  False        False
20   False  False  False  False        False
21   False  False  False  False        False
22   False  False  False  False        False
23   False  False  False  False        False
24   False  False  False  False        False
25   False  False  False  False        False
26   False  False  False  False        False
27   False  False  False  False        False
28   False  False  False  False        False
29   False  False  False  False        False
..     ...    ...    ...    ...          ...
119  False  False  False  False        False
120  False  False  False  False        False
121  False  False  False  False        False
122  False  False  False  False        False
123  False  False  False  False        False
124  False  False  False  False        False
125  False  False  False  False        False
126  False  False  False  False        False
127  False  False  False  False        False
128  False  False  False  False        False
129  False  False  False  False        False
130  False  False  False  False        False
131  False  False  False  False        False
132  False  False  False  False        False
133  False  False  False  False        False
134  False  False  False  False        False
135  False  False  False  False        False
136  False  False  False  False        False
137  False  False  False  False        False
138  False  False  False  False        False
139  False  False  False  False        False
140  False  False  False  False        False
141  False  False  False  False        False
142  False  False  False  False        False
143  False  False  False  False        False
144  False  False  False  False        False
145  False  False  False  False        False
146  False  False  False  False        False
147  False  False  False  False        False
148  False  False  False  False        False

[149 rows x 5 columns]

In [16]:
# Total number of null entries in the dataframe (column wise distribution)
df.isnull().sum()

sl             0
sw             0
pl             0
pw             0
flower_type    0
dtype: int64

In [17]:
# Access part of data (or slice of data) from dataframe 
# Using iloc function in which we pass slices for row and columns as arguments
df.iloc[1:4, 2:4]

    pl   pw
1  1.3  0.2
2  1.5  0.2
3  1.4  0.2

In [18]:
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [19]:
# Delete rows from dataframe using drop function which takes row number as argument
df.drop(0)
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

- Note that the dataframe has not dropped the first row and looks exactly the same.
- Drop function doesn't perform the deletion in place, but it makes a copy of the dataframe without including the deleted row.
- To make the deletion in place, pass argument inplace=True which is set to False by default

In [20]:
a = df.drop(0)
a.head()

    sl   sw   pl   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

In [21]:
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [22]:
df.drop(0, inplace=True)
df.head()

    sl   sw   pl   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

#### If we try and delete the 0th row again, it gives an error as shown below:

![](images/Pandas1.png)

- Error says that labels [0] is not contained in axis.
- The reason for this is the labels for rows go as 0, 1, 2, 3, 4 ... and once you dropped 0, the labels now are 1, 2, 3, 4 ...
- There is no 0. So the indexing did not really change automatically, it stayed the same.
- And the command drop(0) says remove the row which has label "0".
- So its fundamental to understand that there is a difference between a label and a position.
- Here the labels were the same as position and both started from 0, 1, 2, 3 ...
- But after deleting the label, the positions and labels do not match anymore.
- Thing to remember is that drop function takes a label and not a position as an argument.

In [23]:
# Drop by label
df.drop(3, inplace=True)
df.head()

    sl   sw   pl   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa

In [24]:
# Just like the way we were able to look at the columns using df.columns we can look at the (row) labels as well
# Using df.index we can view the current labels of all the rows in dataframe
df.index

Int64Index([  1,   2,   4,   5,   6,   7,   8,   9,  10,  11,
            ...
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148],
           dtype='int64', length=147)

In [25]:
df.index[0], df.index[3]

(1, 5)

In [26]:
# Drop by position
df.drop(df.index[0], inplace=True)
df.head()

    sl   sw   pl   pw  flower_type
2  4.6  3.1  1.5  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa

In [27]:
# Dropping more than 1 rows by passing a list of positions
df.drop(df.index[[0, 1, 2]], inplace=True)
df.head()

     sl   sw   pl   pw  flower_type
6   5.0  3.4  1.5  0.2  Iris-setosa
7   4.4  2.9  1.4  0.2  Iris-setosa
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa

In [28]:
df.sl > 5

6      False
7      False
8      False
9       True
10     False
11     False
12     False
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21     False
22      True
23     False
24     False
25     False
26      True
27      True
28     False
29     False
30      True
31      True
32      True
33     False
34     False
35      True
       ...
119     True
120     True
121     True
122     True
123     True
124     True
125     True
126     True
127     True
128     True
129     True
130     True
131     True
132     True
133     True
134     True
135     True
136     True
137     True
138     True
139     True
140     True
141     True
142     True
143     True
144     True
145     True
146     True
147     True
148     True
Name: sl, Length: 143, dtype: bool

In [29]:
# Gives only those rows for which condition is True
df[df.sl > 5]

      sl   sw   pl   pw      flower_type
9    5.4  3.7  1.5  0.2      Iris-setosa
13   5.8  4.0  1.2  0.2      Iris-setosa
14   5.7  4.4  1.5  0.4      Iris-setosa
15   5.4  3.9  1.3  0.4      Iris-setosa
16   5.1  3.5  1.4  0.3      Iris-setosa
17   5.7  3.8  1.7  0.3      Iris-setosa
18   5.1  3.8  1.5  0.3      Iris-setosa
19   5.4  3.4  1.7  0.2      Iris-setosa
20   5.1  3.7  1.5  0.4      Iris-setosa
22   5.1  3.3  1.7  0.5      Iris-setosa
26   5.2  3.5  1.5  0.2      Iris-setosa
27   5.2  3.4  1.4  0.2      Iris-setosa
30   5.4  3.4  1.5  0.4      Iris-setosa
31   5.2  4.1  1.5  0.1      Iris-setosa
32   5.5  4.2  1.4  0.2      Iris-setosa
35   5.5  3.5  1.3  0.2      Iris-setosa
38   5.1  3.4  1.5  0.2      Iris-setosa
43   5.1  3.8  1.9  0.4      Iris-setosa
45   5.1  3.8  1.6  0.2      Iris-setosa
47   5.3  3.7  1.5  0.2      Iris-setosa
49   7.0  3.2  4.7  1.4  Iris-versicolor
50   6.4  3.2  4.5  1.5  Iris-versicolor
51   6.9  3.1  4.9  1.5  Iris-versicolor
52   5.5  2.3  4.0  1.3  Iris-versicolor
53   6.5  2.8  4.6  1.5  Iris-versicolor
54   5.7  2.8  4.5  1.3  Iris-versicolor
55   6.3  3.3  4.7  1.6  Iris-versicolor
57   6.6  2.9  4.6  1.3  Iris-versicolor
58   5.2  2.7  3.9  1.4  Iris-versicolor
60   5.9  3.0  4.2  1.5  Iris-versicolor
..   ...  ...  ...  ...              ...
119  6.9  3.2  5.7  2.3   Iris-virginica
120  5.6  2.8  4.9  2.0   Iris-virginica
121  7.7  2.8  6.7  2.0   Iris-virginica
122  6.3  2.7  4.9  1.8   Iris-virginica
123  6.7  3.3  5.7  2.1   Iris-virginica
124  7.2  3.2  6.0  1.8   Iris-virginica
125  6.2  2.8  4.8  1.8   Iris-virginica
126  6.1  3.0  4.9  1.8   Iris-virginica
127  6.4  2.8  5.6  2.1   Iris-virginica
128  7.2  3.0  5.8  1.6   Iris-virginica
129  7.4  2.8  6.1  1.9   Iris-virginica
130  7.9  3.8  6.4  2.0   Iris-virginica
131  6.4  2.8  5.6  2.2   Iris-virginica
132  6.3  2.8  5.1  1.5   Iris-virginica
133  6.1  2.6  5.6  1.4   Iris-virginica
134  7.7  3.0  6.1  2.3   Iris-virginica
135  6.3  3.4  5.6  2.4   Iris-virginica
136  6.4  3.1  5.5  1.8   Iris-virginica
137  6.0  3.0  4.8  1.8   Iris-virginica
138  6.9  3.1  5.4  2.1   Iris-virginica
139  6.7  3.1  5.6  2.4   Iris-virginica
140  6.9  3.1  5.1  2.3   Iris-virginica
141  5.8  2.7  5.1  1.9   Iris-virginica
142  6.8  3.2  5.9  2.3   Iris-virginica
143  6.7  3.3  5.7  2.5   Iris-virginica
144  6.7  3.0  5.2  2.3   Iris-virginica
145  6.3  2.5  5.0  1.9   Iris-virginica
146  6.5  3.0  5.2  2.0   Iris-virginica
147  6.2  3.4  5.4  2.3   Iris-virginica
148  5.9  3.0  5.1  1.8   Iris-virginica

[116 rows x 5 columns]

In [30]:
# Gives values where flower_type is "Iris-versicolor" and no other entries
df[df.flower_type == 'Iris-versicolor']

     sl   sw   pl   pw      flower_type
49  7.0  3.2  4.7  1.4  Iris-versicolor
50  6.4  3.2  4.5  1.5  Iris-versicolor
51  6.9  3.1  4.9  1.5  Iris-versicolor
52  5.5  2.3  4.0  1.3  Iris-versicolor
53  6.5  2.8  4.6  1.5  Iris-versicolor
54  5.7  2.8  4.5  1.3  Iris-versicolor
55  6.3  3.3  4.7  1.6  Iris-versicolor
56  4.9  2.4  3.3  1.0  Iris-versicolor
57  6.6  2.9  4.6  1.3  Iris-versicolor
58  5.2  2.7  3.9  1.4  Iris-versicolor
59  5.0  2.0  3.5  1.0  Iris-versicolor
60  5.9  3.0  4.2  1.5  Iris-versicolor
61  6.0  2.2  4.0  1.0  Iris-versicolor
62  6.1  2.9  4.7  1.4  Iris-versicolor
63  5.6  2.9  3.6  1.3  Iris-versicolor
64  6.7  3.1  4.4  1.4  Iris-versicolor
65  5.6  3.0  4.5  1.5  Iris-versicolor
66  5.8  2.7  4.1  1.0  Iris-versicolor
67  6.2  2.2  4.5  1.5  Iris-versicolor
68  5.6  2.5  3.9  1.1  Iris-versicolor
69  5.9  3.2  4.8  1.8  Iris-versicolor
70  6.1  2.8  4.0  1.3  Iris-versicolor
71  6.3  2.5  4.9  1.5  Iris-versicolor
72  6.1  2.8  4.7  1.2  Iris-versicolor
73  6.4  2.9  4.3  1.3  Iris-versicolor
74  6.6  3.0  4.4  1.4  Iris-versicolor
75  6.8  2.8  4.8  1.4  Iris-versicolor
76  6.7  3.0  5.0  1.7  Iris-versicolor
77  6.0  2.9  4.5  1.5  Iris-versicolor
78  5.7  2.6  3.5  1.0  Iris-versicolor
79  5.5  2.4  3.8  1.1  Iris-versicolor
80  5.5  2.4  3.7  1.0  Iris-versicolor
81  5.8  2.7  3.9  1.2  Iris-versicolor
82  6.0  2.7  5.1  1.6  Iris-versicolor
83  5.4  3.0  4.5  1.5  Iris-versicolor
84  6.0  3.4  4.5  1.6  Iris-versicolor
85  6.7  3.1  4.7  1.5  Iris-versicolor
86  6.3  2.3  4.4  1.3  Iris-versicolor
87  5.6  3.0  4.1  1.3  Iris-versicolor
88  5.5  2.5  4.0  1.3  Iris-versicolor
89  5.5  2.6  4.4  1.2  Iris-versicolor
90  6.1  3.0  4.6  1.4  Iris-versicolor
91  5.8  2.6  4.0  1.2  Iris-versicolor
92  5.0  2.3  3.3  1.0  Iris-versicolor
93  5.6  2.7  4.2  1.3  Iris-versicolor
94  5.7  3.0  4.2  1.2  Iris-versicolor
95  5.7  2.9  4.2  1.3  Iris-versicolor
96  6.2  2.9  4.3  1.3  Iris-versicolor
97  5.1  2.5  3.0  1.1  Iris-versicolor
98  5.7  2.8  4.1  1.3  Iris-versicolor

In [31]:
# We can further get a lot of interesting insights from this as below
c1 = df[df.flower_type == 'Iris-versicolor'].describe()
c1

              sl         sw         pl         pw
count  50.000000  50.000000  50.000000  50.000000
mean    5.936000   2.770000   4.260000   1.326000
std     0.516171   0.313798   0.469911   0.197753
min     4.900000   2.000000   3.000000   1.000000
25%     5.600000   2.525000   4.000000   1.200000
50%     5.900000   2.800000   4.350000   1.300000
75%     6.300000   3.000000   4.600000   1.500000
max     7.000000   3.400000   5.100000   1.800000

In [32]:
c2 = df[df.flower_type == 'Iris-virginica'].describe()
c2

             sl         sw         pl        pw
count  50.00000  50.000000  50.000000  50.00000
mean    6.58800   2.974000   5.552000   2.02600
std     0.63588   0.322497   0.551895   0.27465
min     4.90000   2.200000   4.500000   1.40000
25%     6.22500   2.800000   5.100000   1.80000
50%     6.50000   3.000000   5.550000   2.00000
75%     6.90000   3.175000   5.875000   2.30000
max     7.90000   3.800000   6.900000   2.50000

In [33]:
c3 = df[df.flower_type == 'Iris-setosa'].describe()
c3

              sl         sw         pl         pw
count  43.000000  43.000000  43.000000  43.000000
mean    5.023256   3.423256   1.467442   0.244186
std     0.361108   0.393904   0.180898   0.111915
min     4.300000   2.300000   1.000000   0.100000
25%     4.800000   3.150000   1.400000   0.200000
50%     5.000000   3.400000   1.500000   0.200000
75%     5.200000   3.700000   1.600000   0.300000
max     5.800000   4.400000   1.900000   0.600000

### Adding a row

- We already looked at a function iloc.
- Now iloc actually works by position.

In [34]:
print(df.head())
print(df.iloc[0])

     sl   sw   pl   pw  flower_type
6   5.0  3.4  1.5  0.2  Iris-setosa
7   4.4  2.9  1.4  0.2  Iris-setosa
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
sl                       5
sw                     3.4
pl                     1.5
pw                     0.2
flower_type    Iris-setosa
Name: 6, dtype: object

- There is another function df.loc which can be used which takes label as an argument.
- If we use df.loc[0], it will give error as displayed below because df does not have row with label 0 anymore.

![](images/Pandas2.png)

In [35]:
# iloc vs loc
print(df.head())
print(df.iloc[0]) # Gives the result as per position
print(df.loc[6])  # Gives the result as per label
# Both the results will be same; one given by position, another by label.

     sl   sw   pl   pw  flower_type
6   5.0  3.4  1.5  0.2  Iris-setosa
7   4.4  2.9  1.4  0.2  Iris-setosa
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
sl                       5
sw                     3.4
pl                     1.5
pw                     0.2
flower_type    Iris-setosa
Name: 6, dtype: object
sl                       5
sw                     3.4
pl                     1.5
pw                     0.2
flower_type    Iris-setosa
Name: 6, dtype: object

In [36]:
# Add a row
df.loc[0] = [1, 2, 3, 4, 'Iris-setosa']

In [37]:
df.head()

     sl   sw   pl   pw  flower_type
6   5.0  3.4  1.5  0.2  Iris-setosa
7   4.4  2.9  1.4  0.2  Iris-setosa
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa

In [38]:
df.tail()

      sl   sw   pl   pw     flower_type
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica
0    1.0  2.0  3.0  4.0     Iris-setosa

Row gets added to the end of rows and not at start.

- We have seen so far how to add and remove rows.
- But one thing we realized while doing all of that was that our indices were all weirded out.
- If you remove some of the rowsin between and if you add some of the rows here and there, the indices are getting a bit wierd.

In [39]:
df.index

Int64Index([  6,   7,   8,   9,  10,  11,  12,  13,  14,  15,
            ...
            140, 141, 142, 143, 144, 145, 146, 147, 148,   0],
           dtype='int64', length=144)

### Let's look at a way to reset index.

In [40]:
df.reset_index()

     index   sl   sw   pl   pw     flower_type
0        6  5.0  3.4  1.5  0.2     Iris-setosa
1        7  4.4  2.9  1.4  0.2     Iris-setosa
2        8  4.9  3.1  1.5  0.1     Iris-setosa
3        9  5.4  3.7  1.5  0.2     Iris-setosa
4       10  4.8  3.4  1.6  0.2     Iris-setosa
5       11  4.8  3.0  1.4  0.1     Iris-setosa
6       12  4.3  3.0  1.1  0.1     Iris-setosa
7       13  5.8  4.0  1.2  0.2     Iris-setosa
8       14  5.7  4.4  1.5  0.4     Iris-setosa
9       15  5.4  3.9  1.3  0.4     Iris-setosa
10      16  5.1  3.5  1.4  0.3     Iris-setosa
11      17  5.7  3.8  1.7  0.3     Iris-setosa
12      18  5.1  3.8  1.5  0.3     Iris-setosa
13      19  5.4  3.4  1.7  0.2     Iris-setosa
14      20  5.1  3.7  1.5  0.4     Iris-setosa
15      21  4.6  3.6  1.0  0.2     Iris-setosa
16      22  5.1  3.3  1.7  0.5     Iris-setosa
17      23  4.8  3.4  1.9  0.2     Iris-setosa
18      24  5.0  3.0  1.6  0.2     Iris-setosa
19      25  5.0  3.4  1.6  0.4     Iris-setosa
20      26  5.2  3.5  1.5  0.2     Iris-setosa
21      27  5.2  3.4  1.4  0.2     Iris-setosa
22      28  4.7  3.2  1.6  0.2     Iris-setosa
23      29  4.8  3.1  1.6  0.2     Iris-setosa
24      30  5.4  3.4  1.5  0.4     Iris-setosa
25      31  5.2  4.1  1.5  0.1     Iris-setosa
26      32  5.5  4.2  1.4  0.2     Iris-setosa
27      33  4.9  3.1  1.5  0.1     Iris-setosa
28      34  5.0  3.2  1.2  0.2     Iris-setosa
29      35  5.5  3.5  1.3  0.2     Iris-setosa
..     ...  ...  ...  ...  ...             ...
114    120  5.6  2.8  4.9  2.0  Iris-virginica
115    121  7.7  2.8  6.7  2.0  Iris-virginica
116    122  6.3  2.7  4.9  1.8  Iris-virginica
117    123  6.7  3.3  5.7  2.1  Iris-virginica
118    124  7.2  3.2  6.0  1.8  Iris-virginica
119    125  6.2  2.8  4.8  1.8  Iris-virginica
120    126  6.1  3.0  4.9  1.8  Iris-virginica
121    127  6.4  2.8  5.6  2.1  Iris-virginica
122    128  7.2  3.0  5.8  1.6  Iris-virginica
123    129  7.4  2.8  6.1  1.9  Iris-virginica
124    130  7.9  3.8  6.4  2.0  Iris-virginica
125    131  6.4  2.8  5.6  2.2  Iris-virginica
126    132  6.3  2.8  5.1  1.5  Iris-virginica
127    133  6.1  2.6  5.6  1.4  Iris-virginica
128    134  7.7  3.0  6.1  2.3  Iris-virginica
129    135  6.3  3.4  5.6  2.4  Iris-virginica
130    136  6.4  3.1  5.5  1.8  Iris-virginica
131    137  6.0  3.0  4.8  1.8  Iris-virginica
132    138  6.9  3.1  5.4  2.1  Iris-virginica
133    139  6.7  3.1  5.6  2.4  Iris-virginica
134    140  6.9  3.1  5.1  2.3  Iris-virginica
135    141  5.8  2.7  5.1  1.9  Iris-virginica
136    142  6.8  3.2  5.9  2.3  Iris-virginica
137    143  6.7  3.3  5.7  2.5  Iris-virginica
138    144  6.7  3.0  5.2  2.3  Iris-virginica
139    145  6.3  2.5  5.0  1.9  Iris-virginica
140    146  6.5  3.0  5.2  2.0  Iris-virginica
141    147  6.2  3.4  5.4  2.3  Iris-virginica
142    148  5.9  3.0  5.1  1.8  Iris-virginica
143      0  1.0  2.0  3.0  4.0     Iris-setosa

[144 rows x 6 columns]

- df.reset_index is resetting all the indices in increasing order but there are a few issues.
- It has created a new column of "index" which is the previous index. We don't want that as the previous index is useless to us now.
- So what you can do is that you can give an argument drop=True
- Another issue is that it is not making changes in df. It is making a new dataframe.
- s0 if you want to make changes in the dataframe add the argument inplace=True

In [41]:
df.reset_index(drop=True)

      sl   sw   pl   pw     flower_type
0    5.0  3.4  1.5  0.2     Iris-setosa
1    4.4  2.9  1.4  0.2     Iris-setosa
2    4.9  3.1  1.5  0.1     Iris-setosa
3    5.4  3.7  1.5  0.2     Iris-setosa
4    4.8  3.4  1.6  0.2     Iris-setosa
5    4.8  3.0  1.4  0.1     Iris-setosa
6    4.3  3.0  1.1  0.1     Iris-setosa
7    5.8  4.0  1.2  0.2     Iris-setosa
8    5.7  4.4  1.5  0.4     Iris-setosa
9    5.4  3.9  1.3  0.4     Iris-setosa
10   5.1  3.5  1.4  0.3     Iris-setosa
11   5.7  3.8  1.7  0.3     Iris-setosa
12   5.1  3.8  1.5  0.3     Iris-setosa
13   5.4  3.4  1.7  0.2     Iris-setosa
14   5.1  3.7  1.5  0.4     Iris-setosa
15   4.6  3.6  1.0  0.2     Iris-setosa
16   5.1  3.3  1.7  0.5     Iris-setosa
17   4.8  3.4  1.9  0.2     Iris-setosa
18   5.0  3.0  1.6  0.2     Iris-setosa
19   5.0  3.4  1.6  0.4     Iris-setosa
20   5.2  3.5  1.5  0.2     Iris-setosa
21   5.2  3.4  1.4  0.2     Iris-setosa
22   4.7  3.2  1.6  0.2     Iris-setosa
23   4.8  3.1  1.6  0.2     Iris-setosa
24   5.4  3.4  1.5  0.4     Iris-setosa
25   5.2  4.1  1.5  0.1     Iris-setosa
26   5.5  4.2  1.4  0.2     Iris-setosa
27   4.9  3.1  1.5  0.1     Iris-setosa
28   5.0  3.2  1.2  0.2     Iris-setosa
29   5.5  3.5  1.3  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
114  5.6  2.8  4.9  2.0  Iris-virginica
115  7.7  2.8  6.7  2.0  Iris-virginica
116  6.3  2.7  4.9  1.8  Iris-virginica
117  6.7  3.3  5.7  2.1  Iris-virginica
118  7.2  3.2  6.0  1.8  Iris-virginica
119  6.2  2.8  4.8  1.8  Iris-virginica
120  6.1  3.0  4.9  1.8  Iris-virginica
121  6.4  2.8  5.6  2.1  Iris-virginica
122  7.2  3.0  5.8  1.6  Iris-virginica
123  7.4  2.8  6.1  1.9  Iris-virginica
124  7.9  3.8  6.4  2.0  Iris-virginica
125  6.4  2.8  5.6  2.2  Iris-virginica
126  6.3  2.8  5.1  1.5  Iris-virginica
127  6.1  2.6  5.6  1.4  Iris-virginica
128  7.7  3.0  6.1  2.3  Iris-virginica
129  6.3  3.4  5.6  2.4  Iris-virginica
130  6.4  3.1  5.5  1.8  Iris-virginica
131  6.0  3.0  4.8  1.8  Iris-virginica
132  6.9  3.1  5.4  2.1  Iris-virginica
133  6.7  3.1  5.6  2.4  Iris-virginica
134  6.9  3.1  5.1  2.3  Iris-virginica
135  5.8  2.7  5.1  1.9  Iris-virginica
136  6.8  3.2  5.9  2.3  Iris-virginica
137  6.7  3.3  5.7  2.5  Iris-virginica
138  6.7  3.0  5.2  2.3  Iris-virginica
139  6.3  2.5  5.0  1.9  Iris-virginica
140  6.5  3.0  5.2  2.0  Iris-virginica
141  6.2  3.4  5.4  2.3  Iris-virginica
142  5.9  3.0  5.1  1.8  Iris-virginica
143  1.0  2.0  3.0  4.0     Iris-setosa

[144 rows x 5 columns]

In [42]:
df.head()

     sl   sw   pl   pw  flower_type
6   5.0  3.4  1.5  0.2  Iris-setosa
7   4.4  2.9  1.4  0.2  Iris-setosa
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa

In [43]:
df.reset_index(drop=True, inplace=True)
df.head(10)

    sl   sw   pl   pw  flower_type
0  5.0  3.4  1.5  0.2  Iris-setosa
1  4.4  2.9  1.4  0.2  Iris-setosa
2  4.9  3.1  1.5  0.1  Iris-setosa
3  5.4  3.7  1.5  0.2  Iris-setosa
4  4.8  3.4  1.6  0.2  Iris-setosa
5  4.8  3.0  1.4  0.1  Iris-setosa
6  4.3  3.0  1.1  0.1  Iris-setosa
7  5.8  4.0  1.2  0.2  Iris-setosa
8  5.7  4.4  1.5  0.4  Iris-setosa
9  5.4  3.9  1.3  0.4  Iris-setosa

In [44]:
df.index

RangeIndex(start=0, stop=144, step=1)

### Delete column

- It's actually very similar to delete row using df.drop(label)
- But if we give say df.drop('sl') it will give error as displayed below.
- This is because there is no label 'sl' for any row and its trying to find a row with label 'sl' which it can delete.


![](images/Pandas3.png)

In [45]:
df.drop('sl', axis=1)

      sw   pl   pw     flower_type
0    3.4  1.5  0.2     Iris-setosa
1    2.9  1.4  0.2     Iris-setosa
2    3.1  1.5  0.1     Iris-setosa
3    3.7  1.5  0.2     Iris-setosa
4    3.4  1.6  0.2     Iris-setosa
5    3.0  1.4  0.1     Iris-setosa
6    3.0  1.1  0.1     Iris-setosa
7    4.0  1.2  0.2     Iris-setosa
8    4.4  1.5  0.4     Iris-setosa
9    3.9  1.3  0.4     Iris-setosa
10   3.5  1.4  0.3     Iris-setosa
11   3.8  1.7  0.3     Iris-setosa
12   3.8  1.5  0.3     Iris-setosa
13   3.4  1.7  0.2     Iris-setosa
14   3.7  1.5  0.4     Iris-setosa
15   3.6  1.0  0.2     Iris-setosa
16   3.3  1.7  0.5     Iris-setosa
17   3.4  1.9  0.2     Iris-setosa
18   3.0  1.6  0.2     Iris-setosa
19   3.4  1.6  0.4     Iris-setosa
20   3.5  1.5  0.2     Iris-setosa
21   3.4  1.4  0.2     Iris-setosa
22   3.2  1.6  0.2     Iris-setosa
23   3.1  1.6  0.2     Iris-setosa
24   3.4  1.5  0.4     Iris-setosa
25   4.1  1.5  0.1     Iris-setosa
26   4.2  1.4  0.2     Iris-setosa
27   3.1  1.5  0.1     Iris-setosa
28   3.2  1.2  0.2     Iris-setosa
29   3.5  1.3  0.2     Iris-setosa
..   ...  ...  ...             ...
114  2.8  4.9  2.0  Iris-virginica
115  2.8  6.7  2.0  Iris-virginica
116  2.7  4.9  1.8  Iris-virginica
117  3.3  5.7  2.1  Iris-virginica
118  3.2  6.0  1.8  Iris-virginica
119  2.8  4.8  1.8  Iris-virginica
120  3.0  4.9  1.8  Iris-virginica
121  2.8  5.6  2.1  Iris-virginica
122  3.0  5.8  1.6  Iris-virginica
123  2.8  6.1  1.9  Iris-virginica
124  3.8  6.4  2.0  Iris-virginica
125  2.8  5.6  2.2  Iris-virginica
126  2.8  5.1  1.5  Iris-virginica
127  2.6  5.6  1.4  Iris-virginica
128  3.0  6.1  2.3  Iris-virginica
129  3.4  5.6  2.4  Iris-virginica
130  3.1  5.5  1.8  Iris-virginica
131  3.0  4.8  1.8  Iris-virginica
132  3.1  5.4  2.1  Iris-virginica
133  3.1  5.6  2.4  Iris-virginica
134  3.1  5.1  2.3  Iris-virginica
135  2.7  5.1  1.9  Iris-virginica
136  3.2  5.9  2.3  Iris-virginica
137  3.3  5.7  2.5  Iris-virginica
138  3.0  5.2  2.3  Iris-virginica
139  2.5  5.0  1.9  Iris-virginica
140  3.0  5.2  2.0  Iris-virginica
141  3.4  5.4  2.3  Iris-virginica
142  3.0  5.1  1.8  Iris-virginica
143  2.0  3.0  4.0     Iris-setosa

[144 rows x 4 columns]

In [46]:
df.head()

    sl   sw   pl   pw  flower_type
0  5.0  3.4  1.5  0.2  Iris-setosa
1  4.4  2.9  1.4  0.2  Iris-setosa
2  4.9  3.1  1.5  0.1  Iris-setosa
3  5.4  3.7  1.5  0.2  Iris-setosa
4  4.8  3.4  1.6  0.2  Iris-setosa

In [47]:
df.drop('sl', axis=1, inplace=True)
df.head()

    sw   pl   pw  flower_type
0  3.4  1.5  0.2  Iris-setosa
1  2.9  1.4  0.2  Iris-setosa
2  3.1  1.5  0.1  Iris-setosa
3  3.7  1.5  0.2  Iris-setosa
4  3.4  1.6  0.2  Iris-setosa

In [48]:
# Another way to delete column using del
del df['sw']
df.head()

    pl   pw  flower_type
0  1.5  0.2  Iris-setosa
1  1.4  0.2  Iris-setosa
2  1.5  0.1  Iris-setosa
3  1.5  0.2  Iris-setosa
4  1.6  0.2  Iris-setosa

In [49]:
df = iris.copy()
df.columns = ['sl', 'sw', 'pl', 'pw', 'flower_type']

In [50]:
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [51]:
df.shape

(149, 5)

#### Let's look at how to add a new column

- Suppose we wish to add a new column with column header "diff_pl_pw" which represents the difference between pl and pw values.

In [52]:
df['diff_pl_pw'] = df['pl'] - df['pw']

In [53]:
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
2  4.6  3.1  1.5  0.2  Iris-setosa         1.3
3  5.0  3.6  1.4  0.2  Iris-setosa         1.2
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3

### Handling NaN

- Let's talk about what we do with data that has NaN entries.
- We generally have two options.
    - fillna - We will fill some data for these NaN entries.
    - dropna - Remove the rows with NaN entries.

In [54]:
df.iloc[2:4, 1:3] = np.nan
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
2  4.6  NaN  NaN  0.2  Iris-setosa         1.3
3  5.0  NaN  NaN  0.2  Iris-setosa         1.2
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3

In [55]:
df.describe()

               sl          sw          pl          pw  diff_pl_pw
count  149.000000  147.000000  147.000000  149.000000  149.000000
mean     5.848322    3.046939    3.806122    1.205369    2.569128
std      0.828594    0.434048    1.750351    0.761292    1.047707
min      4.300000    2.000000    1.000000    0.100000    0.800000
25%      5.100000    2.800000    1.600000    0.300000    1.400000
50%      5.800000    3.000000    4.400000    1.300000    2.900000
75%      6.400000    3.300000    5.100000    1.800000    3.300000
max      7.900000    4.400000    6.900000    2.500000    4.700000

In [56]:
# dropna which is going to simply drop NaN data i.e. rows containing NaN entries.
df.dropna(inplace=True)

In [57]:
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3
5  4.6  3.4  1.4  0.3  Iris-setosa         1.1
6  5.0  3.4  1.5  0.2  Iris-setosa         1.3

In [58]:
df.reset_index(drop=True, inplace=True)
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
2  5.4  3.9  1.7  0.4  Iris-setosa         1.3
3  4.6  3.4  1.4  0.3  Iris-setosa         1.1
4  5.0  3.4  1.5  0.2  Iris-setosa         1.3

In [59]:
df.iloc[2:4, 1:3] = np.nan
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
2  5.4  NaN  NaN  0.4  Iris-setosa         1.3
3  4.6  NaN  NaN  0.3  Iris-setosa         1.1
4  5.0  3.4  1.5  0.2  Iris-setosa         1.3

- We will not always want to drop NaN entries.
- We will sometimes want to put some other data instead of those NaN entries.
- While filling the NaN entries we have a few options available to us.
    - One of the most obvious way of doing it will be to fill NaN entries with the overall mean values for the columns in which NaN entries exist.
    - Can put some other fixed value if it is acceptable.
    - Can try and find the most occurring value and fill the NaN entries with that.

In [60]:
# Fill NaN entries with overall mean values of the columns in which they are occurring
df.sw.fillna(df.sw.mean(), inplace=True)
df.head()

    sl        sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.000000  1.4  0.2  Iris-setosa         1.2
1  4.7  3.200000  1.3  0.2  Iris-setosa         1.1
2  5.4  3.038621  NaN  0.4  Iris-setosa         1.3
3  4.6  3.038621  NaN  0.3  Iris-setosa         1.1
4  5.0  3.400000  1.5  0.2  Iris-setosa         1.3

In [61]:
df.pl.fillna(df.pl.mean(), inplace=True)
df.head()

    sl        sw        pl   pw  flower_type  diff_pl_pw
0  4.9  3.000000  1.400000  0.2  Iris-setosa         1.2
1  4.7  3.200000  1.300000  0.2  Iris-setosa         1.1
2  5.4  3.038621  3.837241  0.4  Iris-setosa         1.3
3  4.6  3.038621  3.837241  0.3  Iris-setosa         1.1
4  5.0  3.400000  1.500000  0.2  Iris-setosa         1.3

- A lot of thinking goes into deciding what exactly to fill NaN entries with.
- Dropping entries is usually avoided as we will be losing data.
- If there are one or two or very few entries, we can just delete them.
- But if the number of NaN entries is a significant number, we might not want to lose that data and fillna's.

### Handling Strings in Data

- When you have a dataframe, let's say we have a column which has integer values. So generally that works really well with our algorithms.
- Now let's say we have a column which has string values. It's really hard to do any kind of calculation with the string data type.
- So we generally want our columns to be numeric.
- For example, let's say we are given the profile of a user and the output column is what are the chances of them buying a product (%age value).
- Now the user profile can have a column "Gender" which can have values either "Male" or "Female".
- Now this is going to be a very important feature and is very significant in figuring out whether a male is going to like a particular product or not and similarly whether a female is going to like specific products or not. So this data can be very important i.e. whether the user is male or female. But it's going to be much easier to do the calculation if this would be numeric and not a string based data.
- So in such cases we're going to change the string data to numeric data.

In [62]:
# String based data
df['Gender'] = 'Female'
df.iloc[0:75, 6] = 'Male'
df.head()

    sl        sw        pl   pw  flower_type  diff_pl_pw Gender
0  4.9  3.000000  1.400000  0.2  Iris-setosa         1.2   Male
1  4.7  3.200000  1.300000  0.2  Iris-setosa         1.1   Male
2  5.4  3.038621  3.837241  0.4  Iris-setosa         1.3   Male
3  4.6  3.038621  3.837241  0.3  Iris-setosa         1.1   Male
4  5.0  3.400000  1.500000  0.2  Iris-setosa         1.3   Male

In [63]:
df.tail()

      sl   sw   pl   pw     flower_type  diff_pl_pw  Gender
142  6.7  3.0  5.2  2.3  Iris-virginica         2.9  Female
143  6.3  2.5  5.0  1.9  Iris-virginica         3.1  Female
144  6.5  3.0  5.2  2.0  Iris-virginica         3.2  Female
145  6.2  3.4  5.4  2.3  Iris-virginica         3.1  Female
146  5.9  3.0  5.1  1.8  Iris-virginica         3.3  Female

In [64]:
def f(str):
    if str == 'Male':
        return 0
    else:
        return 1

df['sex'] = df.Gender.apply(f)
df.head()

    sl        sw        pl   pw  flower_type  diff_pl_pw Gender  sex
0  4.9  3.000000  1.400000  0.2  Iris-setosa         1.2   Male    0
1  4.7  3.200000  1.300000  0.2  Iris-setosa         1.1   Male    0
2  5.4  3.038621  3.837241  0.4  Iris-setosa         1.3   Male    0
3  4.6  3.038621  3.837241  0.3  Iris-setosa         1.1   Male    0
4  5.0  3.400000  1.500000  0.2  Iris-setosa         1.3   Male    0

In [65]:
df.tail()

      sl   sw   pl   pw     flower_type  diff_pl_pw  Gender  sex
142  6.7  3.0  5.2  2.3  Iris-virginica         2.9  Female    1
143  6.3  2.5  5.0  1.9  Iris-virginica         3.1  Female    1
144  6.5  3.0  5.2  2.0  Iris-virginica         3.2  Female    1
145  6.2  3.4  5.4  2.3  Iris-virginica         3.1  Female    1
146  5.9  3.0  5.1  1.8  Iris-virginica         3.3  Female    1

In [66]:
del df['Gender']
df.head()

    sl        sw        pl   pw  flower_type  diff_pl_pw  sex
0  4.9  3.000000  1.400000  0.2  Iris-setosa         1.2    0
1  4.7  3.200000  1.300000  0.2  Iris-setosa         1.1    0
2  5.4  3.038621  3.837241  0.4  Iris-setosa         1.3    0
3  4.6  3.038621  3.837241  0.3  Iris-setosa         1.1    0
4  5.0  3.400000  1.500000  0.2  Iris-setosa         1.3    0